<div class="container">

  <h2>Results</h2>        
  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Game</th>
        <th>Category</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
    <% @schedule.each do |s| %>
    <% if Time.parse(s.time) + Time.parse(s.duration).min * 60 + Time.parse(s.duration).hour * 3600 > Time.now && Time.parse(s.time) < Time.now  %>
      <tr bgcolor="#36D962">
    <% else %>
      <tr>
    <% end %>
        <td><%= s.time %></td>
        <td><%= s.game %></td>
        <td><%= s.category %></td>
        <td><%= s.duration %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>